/* CSS Document */

body {
	background-color: #E0F0FF;
}

.well-blue {
	background-color: #BeDfFF;
}

.header-logo {
	margin-bottom: 20px;
	margin-top: 20px;
}

table.kontakt .kontakt-label {
	color: #888;
	vertical-align: top;
	text-align: right;
}

.typove-domy [class*="span"]:nth-child(odd) {
	margin-left: 0;
}

.typove-domy .thumbnails>li {
	margin-bottom: 0;
}