/* CSS Document */

body {
	background-color: #E0F0FF;
}

.well-blue {
	background-color: #BeDfFF;
}

.header-logo {
	margin-bottom: 20px;
	margin-top: 20px;
}

table.kontakt .kontakt-label {
	color: #888;
	vertical-align: top;
	text-align: right;
}