/* CSS Document */

body {
	background-color: #E0F0FF;
}

.well-blue {
	background-color: #BeDfFF;
}

.header-logo {
	margin-bottom: 20px;
	margin-top: 20px;
}

table.kontakt .kontakt-label {
	color: #888;
	vertical-align: top;
	text-align: right;
}

/* .typove-domy [class*="span"]:nth-child(4n+1), */
.novy-radek {
	margin-left: 0 !important;
}

.typove-domy .thumbnails > li {
	margin-bottom: 0;
}

.typove-domy .caption {
	font-size: 12px;
}

.typovy-dum {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 10pt;
}

.typovy-dum p {
	margin-top: 0.07cm;
	margin-bottom: 0.07cm;
}

p.center {
	text-align: center;
}
.typovy-dum-detail p {
	font-size: 10pt;
	margin: 0cm 0cm 0.0001pt; line-height: 150%;
}